body {
    text-align: center;
    background: black;
    color: white;
    font-family: Arial;
}

#game {
    position: relative;
    width: 1000px;
    height: 250px;
    background: #111;
    margin: auto;
    overflow: hidden;
    border: 3px solid white;
}

#player {
    position: absolute;
    width: 40px;
    height: 40px;
    background: cyan;
    bottom: 0;
    left: 100px;
}

.spike {
    position: absolute;
    width: 40px;
    height: 40px;
    background: red;
    bottom: 0;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.portal {
    position: absolute;
    width: 40px;
    height: 80px;
    background: purple;
    bottom: 0;
}
