body {
    text-align: center;
    background: black;
    color: white;
    font-family: Arial;
}

#game {
    position: relative;
    width: 800px;
    height: 200px;
    background: #222;
    margin: auto;
    overflow: hidden;
    border: 3px solid white;
}

#player {
    position: absolute;
    width: 40px;
    height: 40px;
    background: cyan;
    bottom: 0;
    left: 50px;
}

.spike {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid red;
    bottom: 0;
}
